
      <%- include('partials/header') -%>
      <h1>Prevent Burnout Home page</h1>
      <div >
           <h2> <%=timeOfDay%> <%= user.userName %> </h2>
            
        <% if(calories.length > 0) { %>
         <span><%= user.userName %> ,you have had <%=caloriesLeft%> for today, you set a daily goal for  <%= calories[calories.length-1].Calories %> Calories, you have  <%= calories[calories.length-1].Calories - caloriesLeft%> left.</span> </h2>
  <% } else { %>
         <span><%= user.userName %> ,you have 0 Calories left for the day.</span> </h2>
  <% } %>
       </div>
 
       <%- include('partials/footer') -%>
