
      <%- include('partials/header') -%>
      <nav>
       <div class="nav-wrapper #26a69a teal lighten-1">
         <a href="/preventBurnout" class="brand-logo">Burnout tracker</a>
         <a href="#" class="brand-logo center">Homepage</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a href="/preventBurnout/health">Health</a></li>
           <li><a href="/preventBurnout/exercise">Exercise</a></li>
           <li><a href="/preventBurnout/mood">Mood</a></li>
           <li><a href="/preventBurnout/actvities">Actvities</a></li>
           <li><a href="/logout">Logout</a></li>
         </ul>
       </div>
     </nav>
     <h1> <%=timeOfDay%> <%= user.userName[0].toUpperCase()+ user.userName.slice(1) %> </h1>
      <div  class="healthContainer z-depth-2">
         <h2 class="center-align">Health</h2>
            
        <% if(calories.length > 0) { %>
         <span> Total Calories: <%=caloriesLeft%> </span> 
  <% } else { %>
         <span><%= user.userName[0].toUpperCase()+ user.userName.slice(1)%> ,you have 0 Calories left for the day.</span> </h2>
  <% } %>
       </div>
 
       <%- include('partials/footer') -%>
