<%- include('partials/header') -%>
     
      <body>
            <section>
              <h1>health</h1>
      
            </section>


            <div>
           <h3>
            Breakfast calories<%=Breakfast%></h3>
           <h3>Lunch calories<%=Lunch%> </h3>
           <h3>Dinner calories<%=Dinner%></h3>
             <% if(calories.length > 0) { %>
              <span><%= user.userName %> ,you have had <%=caloriesLeft%> for today, you set a daily goal for  <%= calories[calories.length-1].Calories %> Calories, you have  <%= calories[calories.length-1].Calories - caloriesLeft%> left.</span> </h2>
       <% } else { %>
              <span><%= user.userName %> ,you have 0 Calories left for the day.</span> </h2>
       <% } %>
          
            </div>
    
      
      <form action="/preventBurnout/health/createCalories" method='POST'>
        <input type="number" placeholder="Enter Calorie amount" name='Calories' >
        <input type="submit">
      </form>


      <table class="highlight">
        <thead>
          <tr>
              <th>Date</th>
              <th>Meal</th>
              <th>Description</th>
              <th>Calories</th>
          </tr>
        </thead>

         <tbody>
          <ul class="Log">
          <% for(let i=0;i < health.length;i++){%>
           
              <span id="<%= health[i]._id %>" class="healthItem"> <tr>
            <td class="" id="<%= health[i]._id %>"><span> <%= health[i].Date %></span></td>
            <td class="" id="<%= health[i]._id %>"><span > <%= health[i].Meal%></span</td>
            <td class="" id="<%= health[i]._id %>"><span > <%= health[i].Description%></span> </td>
            <td class=""id="<%= health[i]._id %>"><span > <%= health[i].Calories%></span> </td>
          <td class="" id="<%= health[i]._id %>"><span   id="<%= health[i]._id %>" class="fa fa-trash delete1"    > </span> </td>
          </tr>
          <%}%> 
        </tbody> 
        
       
      </ul>
      </table>






     


            <form action="/preventBurnout/health/createHealth" method='POST'>
              <input type="date" placeholder="Time/date" name='Date'>
                  <select class="input-field" name="Meal">
                    <option  name ='Meal'value="Meal" disabled selected>Choose your dinner</option>
                    <option value="Breakfast">Breakfast</option>
                    <option  value="Lunch">Lunch</option>
                    <option  value="Dinner">Dinner</option>
                  </select>
              <input type="text" placeholder="Description" name='Description'>
              <input type="text" placeholder="Calories" name='Calories'>
              <input type="submit">
            </form>
      

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var sel= document.querySelectorAll('select');
     M.FormSelect.init(sel);
  });
</script>

<%- include('partials/footer') -%>
</body>
