<%- include('partials/header') -%>
     
      <body>
            <section>
              <h1>health</h1>
      
            </section>


            <div>
           <h3>
            Breakfast calories<%=Breakfast%></h3>
           <h3>Lunch calories<%=Lunch%> </h3>
           <h3>Dinner calories<%=Dinner%></h3>
             <% if(calories.length > 0) { %>
              <span><%= user.userName %> ,you have had <%=caloriesLeft%> for today, you set a daily goal for  <%= calories[calories.length-1].Calories %> Calories, you have  <%= calories[calories.length-1].Calories - caloriesLeft%> left.</span> </h2>
       <% } else { %>
              <span><%= user.userName %> ,you have 0 Calories left for the day.</span> </h2>
       <% } %>
          
            </div>
    
      
      <form action="/preventBurnout/health/createCalories" method='POST'>
        <input type="number" placeholder="Enter Calorie amount" name='Calories' >
        <input type="submit">
      </form>
    
            <main>
              <ul class="Log">
                  <% for(let i=0;i < health.length;i++){%>
                     <li  class='<%= health[i].completed === true ? 'completed' : 'not'%>'>
                  <span id="<%= health[i]._id %>" class="healthItem">
                      <span class='<%= health[i].completed === true ? 'completed' : 'not'%>'><%= health[i].Date %></span>
                      <span class='<%= health[i].completed === true ? 'completed' : 'not'%>'><%= health[i].Meal%></span>
                      <span class='<%= health[i].completed === true ? 'completed' : 'not'%>'><%= health[i].Description%></span>
                      <span class='<%= health[i].completed === true ? 'completed' : 'not'%>'><%= health[i].Calories%></span>
                     <span class="fa fa-trash delete1"></span>
                  </li>
                  <%}%> 
                </ul>
            </main>      


            <form action="/preventBurnout/health/createHealth" method='POST'>
              <input type="date" placeholder="Time/date" name='Date'>
                  <select class="input-field" name="Meal">
                    <option  name ='Meal'value="Meal" disabled selected>Choose your dinner</option>
                    <option value="Breakfast">Breakfast</option>
                    <option  value="Lunch">Lunch</option>
                    <option  value="Dinner">Dinner</option>
                  </select>
              <input type="text" placeholder="Description" name='Description'>
              <input type="text" placeholder="Calories" name='Calories'>
              <input type="submit">
            </form>
      

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var sel= document.querySelectorAll('select');
     M.FormSelect.init(sel);
  });
</script>

<%- include('partials/footer') -%>
</body>
